<div class="container mt-5 align-items-center" style="margin-top:10px">
    <div class="row " *ngIf="product" >
        <div class="col-6">
            <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100" >
        </div>
        <div class="col-6" style="margin-top:20px">
            <h2>{{product.name}}</h2>
            <br>
            <div class="d-flex">
                <star-rating [totalstars]='5' value='{{this.average}}' checkedcolor="gold" uncheckedcolor="gray" size="24px" [readonly]='false' ></star-rating>
                <p style="margin-top: 8px;" *ngIf="this.average">({{this.average.toFixed(2)}})</p>
                <p style="margin-top: 8px; margin-left: 10px;" *ngIf="this.average">| {{this.reviews.length}} review/s</p>
            </div>
            
            
            <p style="font-size: 1.25em;">{{product.price | currency}}</p>
            <br>
            <div class="d-flex justify-content-start align-items-center">
                <i (click)="decrementQuantity()" class="fa fa-minus-circle text-success mr-2" style="cursor: pointer; font-size: 2em;"></i>
                <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
                <i (click)="incrementQuantity()" class="fa fa-plus-circle text-success mx-2" style="cursor: pointer; font-size: 2em;"></i>
                <button (click)="addItemToBasket()" class="btn btn-outline-primary ml-5">Add to Cart</button>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h4>Description</h4>
                    <p>{{product.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-xs cta-usp">
            <span class="usp-icon"><img class="img-icon" src="//cdn.shopify.com/s/files/1/0255/9760/8011/t/38/assets/trolley.svg?v=17110604478566665202" alt="FREE DELIVERY" style="margin-left: 35px;"></span>
            <div class="usp-text"><i>FREE DELIVERY</i></div>
        </div>
        <div class="col col-xs cta-usp">
            <span class="usp-icon"><img class="img-icon" src="//cdn.shopify.com/s/files/1/0255/9760/8011/t/38/assets/parachute.svg?v=13167892034846402048" alt="SAFE AND FAST DELIVERY" style="margin-left: 80px;"></span>
            <div class="usp-text"><i>SAFE AND FAST DELIVERY</i></div>
        </div>
        <div class="col col-xs cta-usp">
            <span class="usp-icon"><img class="img-icon" src="//cdn.shopify.com/s/files/1/0255/9760/8011/t/38/assets/cabinet.svg?v=17060745077649662942" alt="BIGGEST ASSORTMENT" style="margin-left: 65px;"></span>
            <div class="usp-text"><i>BIGGEST ASSORTMENT</i></div>
        </div>
    </div>
</div>
<hr>
<div class="container mt-5 align-items-center" style="margin-top:10px">
    <div class="row" id="post-review-box" >
        <div class="col-md-5 offset-3">
            <h5 style="text-align:center">Leave a review:</h5>
            <br>
            <br>
            <div
                [formGroup]="reviewForm"
                class="form-group">
                    <div style="display: flex;">
                        <h6 style="margin-top: 15px;">Rating:</h6>
                        <star-rating style="margin-left: 15px;" [totalstars]='5' value="{{this.rating}}" checkedcolor="gold" uncheckedcolor="gray" size="30px" readonly="false" (rate)="onRate($event)"></star-rating>
                    </div>
                    <br>
                    <input id="ratings-hidden" name="rating" type="hidden"> 
                    <input class="form-control " type="text" placeholder="Your name" formControlName="username" style="width: 445px;">
                    <br>
                    <input class="form-control" type="text" placeholder="Title" formControlName="title" style="width: 445px;" >
                    <br>
                    <textarea class="form-control animated" cols="50" id="new-review" name="comment"  formControlName="description" placeholder="Enter your review here..." rows="5" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; width: auto;"></textarea>
                    <div class="text-right">
                        <br>
                        <div class="stars starrr" data-rating="0"><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span></div>
                        <button class="btn btn-danger btn-sm"  (click)="onCancel()" type="submit">Cancel</button>
                        <button class="btn btn-success btn-sm" style="margin-left:10px" type="submit" (click)="createReview()">Save</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="container mt-5 align-items-center" style="margin-top:10px">
    <div class="container mt-5 align-items-center" style="margin-top:10px">
        <div class="col-md-7 offset-3">
            <div class="review-block" *ngIf="reviews != undefined" style="display:inline-block;">
                <h5>Reviews:</h5>
                <div class="row" *ngFor="let review of reviews">
                    <div class="card mb-3" style="width:650px; margin-left:15px; border:none; background-color:#d5dadf7e">
                        <div class="card-body">
                            <star-rating [totalstars]='5' value='{{review.rating}}' checkedcolor="gold" uncheckedcolor="gray" size="24px" [readonly]='true' ></star-rating>
                            <h5 class="card-title">{{review.title}}</h5>
                            <p class="card-text"><i>"{{review.description}}"</i></p>
                            <footer class="blockquote-footer">{{review.username}}</footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>