<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td><img src="https://localhost:44376/{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid" style="max-height: 50px;"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.productBrand.name}}</td>
                        <td>{{product.productType.name}}</td>
                        <td>
                            <a class="text-danger"><i (click)="deleteProduct(product.id)" class="fa fa-trash" style="font-size: 2em; cursor: pointer; "></i></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 